.hero {
  background-image: url("../../img/hero-phones-desktop.png");
  background-repeat: no-repeat;
  background-position: top right;

}

.hero__inner {
  padding-top: 170px;
  padding-bottom: 170px;
}

.hero__content {
  max-width: 447px;
}

.hero__heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2d314d;
}

.hero__text {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}












