.invite-button {
  padding: 8px 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border: none;
  border-radius: 22px;
}